<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Payment Confirmation</title>
  </head>

  <body>
    <div style="display: flex; justify-content: center; align-items: center">
      <div style="margin: 10px">
        <h1>{{message}}</h1>
        <p style="margin-bottom: 20px">Thanks. Stay with us.</p>
        <a
          href="https://sports-smart-booking.vercel.app"
          style="
            font-size: large;
            font-weight: bold;
            text-decoration: none;
            background-color: blueviolet;
            color: white;
            padding: 10px;
            border-radius: 10px;
          "
          >Go Home</a
        >
      </div>
    </div>
  </body>
</html>
